/*

@import 'core/header';
@import 'core/page';
@import 'core/footer';
*/


body {

	margin: 0 0 0 0;
	box-sizing: border-box;
	height:560px;
	width: 100%;
}
.container {
	margin-left: 15px;
	scroll-margin-right: 15px;
}

.hero {
	background-image: url(../images/cover.jpg) ;
box-sizing: border-box;
	width: 100%;

height: 100vh;	
}

.hamburguesa {
	

}
.btn1 {
	position: fixed;
	width:44px;
	height: 44px; 
	background-color: blue;
	
	
}
.firstnav {
	display: absolute;
	
}
.hambur {
	width: 16px;
	height: 14px;
	margin: 15px;

}

.titulo1 {
	color: white;
	width: 290px;
	height: 110px;
	text-align: center;
	margin-top: 50vh;
	font-size: 40px;
	font-family: 'Roboto Slab', serif; 

}
.titulo2 { 
	color: white;
	width: 290 px;
	height:25px;
	font-size: 16x;
	margin-top: 10px;
}

.titles {
	display: flex ;
	flex-direction: column;
	justify-items: center;
	align-items: center;
	
	
	
}
.boton2 {
	display: flex;
    justify-content: center;
    align-items: center;
	background-color: white;
	width:45px;
	height: 45px;
	border-radius:25px;
	
	text-align: center;
}
.scrolldwon {

	
	width: 20px;
	height: 12px;
	text-align: center;
	margin-top: 10px;
}
.looking {
	display: flex;
	align-items: center;
	
}


/* main*/
.looking {
	display: flex;
	flex-direction: column;
	align-content: flex-start;
	align-items: flex-start;
}

.title3  {
	font-family: 'Roboto-Regular', sans-serif;
	font-size: 14px;
	color: lightblue;
}
.title4 {
	font-family:  'Roboto Slab-Bold', serif;
	font: size 30px;
	

}
.text {
	font-family: 'Roboto-Regular', sans-serif;
	font-size:18px;
}
.btngo {
	height: 45px;
	width: 76px;
	border-radius: 23px;
	border: solid 2px #f26002;
	background-color: white;
	color: #f26002;
	font-family: 'Roboto-Medium', sans-serif;
	font-size: 20px;
}


.grid {
	background-color: #eff9ff;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 105px 93px 93px 93px 150px;
	text-align: center;

}

.reason_all{
	grid-row: 1/ 2 ;
	font-size: 24px;
	font-family:'Roboto Slab-Bold', serif;

}
.reason__1 {
		grid-row: 2 / 3;
	  }

.reason__2 {
		grid-row: 3/ 4;
	  }
.reason__3 {
		grid-row: 4/ 5;
	  }
.btnreason {
	grid-row: 5/ 6;

	  }
	.roboto {
		font-family: 'Roboto Slab-Bold', serif;
		font-size: 18px;
		box-sizing: border-box;
		margin: 0px;
	}  
	.point {
		display: inline-block;
		font-size: 18px;
		height: 63px;
		width: 180px;
		box-sizing: border-box;
		margin: 0px;
	}
	.btnreason {
		
		width: 184px;
		height: 45px;
		
		margin: 0px;
		font-family: 'Roboto-Medium', sans-serif;
		font-size: 20px;
		color: white;
		background-color: #f26002; 
		border-radius: 23px;
	}
	.spike {
		width: 45px;
		height: 45px;
		border-radius: 23px;
		background-color: white;

	}
	
	/* FOOTER

*/
.footer {
	background-color: #304268;
	box-sizing: border-box;
	text-align: center;
}

.navegador {
	color: white;
	display: inline-block; 
	
	
}

.list {
	list-style: none;
}

.nav__1 {
	margin: 60px 0px 0px 0px;
	height: 150px;
	width: 73px;
}
.nav__2  {
	width: 90px;
	height: 147px;
	margin-top: 30px;
	box-sizing: border-box;

}
.nav {
}
.love  {
	margin: auto auto px 45px auto;
	font-family: 'Roboto-Regular', sans-serif;
}
.loandco {
	text-align: center;
}