/*

@import 'core/header';
@import 'core/page';
@import 'core/footer';
*/


body {

	margin: 0 0 0 0;
	box-sizing: border-box;
	height:560px;
	width: 100%;
}
.container {
	margin: 0 15 0 15px;
}

.hero {
	background-image: url(../images/cover.jpg) ;
box-sizing: border-box;
	width: 100%;

height: 100vh;	
}

.hamburguesa {
	

}
.btn1 {
	position: fixed;
	width:44px;
	height: 44px; 
	background-color: blue;
	
}

.titulo1 {
	color: white;
	width: 290px;
	height: 110px;
	text-align: center;
	margin-top: 50vh;
	font-size: 40px;
	font-family: 'Roboto Slab', serif; 

}
.titulo2 { 
	color: white;
	width: 290 px;
	height:25px;
	font-size: 16x;
}

.titles {
	display: flex ;
	flex-direction: column;
	justify-items: center;
	align-items: center;
	
	
}
.btn2 {
	background-color: white;
	width: 20px;
	height: 20px;
	border-radius:25px;
}
.looking {
	display: flex;
	align-items: center;
	
}


/* main*/
.looking {
	display: flex;
	flex-direction: column;
	align-content: flex-start;
	align-items: flex-start;
}

.title3  {
	font-family: 'Roboto-Regular', sans-serif;
	font-size: 14px;
}
.title4 {
	font-family:  'Roboto Slab-Bold', serif;
	font: size 30px;

}
.text {
	font-family: 'Roboto-Regular', sans-serif;
	font-size:18px;
}
.btngo {
	height: 45px;
	width: 76px;
	border-radius: 22,5px;
	border-color: orange;
	background-color: white;
	font-color: orange;
	
}


