<header class="footer" name=footer></header>

<footer class="footer">
<div class="container">
     <div class="foot">
          <div class="spike">
           <a  href="#header"> <img src="/ico-arrow.svg" alt="arrow up" ></a>
          </div>
      
       <div class="mediafoot">
            <nav class="navegador__1">
                <ul>
                  <li class="list">ARTICLES</li>
                  <li class="list">BOOKS</li>
                  <li class="list">EVENTS</li>
                  <li class="list">REASONS</li>
                  <li class="list">TIPS</li>
                    </ul>
              </nav>
                  
               <nav class="navegador__2">
                   <ul>
                  <li class="list">TWITTER</li>
                  <li class="list">INSTAGRAM</li>
                  <li class="list">MASTODON.SOCIAL</li>
                  </ul>
                    </nav>
                
               <div class="loco">
                    <div class="copy">&copy; 2017 </div>
                    <small class="love">we love components</small>
               </div>
        </div>
            
     </div>
  </div>
  
  </footer>
  