<header class="header" id="header">
  <nav class="firstnav">
    <a class="btn1" href="#">
      <img class="hambur" src="/ico-menu.svg" alt="menu" title="menu" />
    </a>
  </nav>

  <div class="hero">
    <div class="container">
      <div class="titles">
        <h1 class="titulo1">ANONYMOUS PROXY</h1>
        <h4 class="titulo2">In hac habitasse platea dictumst</h4>

        <div class="boton2">
          <a class="btn2" href="#main">
            <img class="scrolldown" src="/ico-scroll-down.svg" alt="scrolldwon"
          /></a>
        </div>
     
      </div>
    </div>
  </div>
</header>
