


       <header class="header" name=header>
            <nav class="firstnav">
                    <a class="btn1" href="#">
                    <img class="hambur" src="/ico-menu.svg" alt="menu" title="menu">
                    </a>
                </nav>
               <!--         
        -->
              </nav>
             
                <div class="hero">
                    <div class="container">
                  <!--haverle un nav-->
                   
                        <div class="titles">
                          <h1 class="titulo1">ANONYMOUS PROXY</h1>
                          <h4 class="titulo2">In hac habitasse platea dictumst</h4>
                        
                         <div class="boton2">
                          <a class="btn2" href="#main"> <img class="scrolldown" src="/ico-scroll-down.svg" alt="scrolldwon"></a>
                          </div>
                          <!-- <div class="scrolldown scroll">
            <a href="#content">
              <img src="assets/icons/ico-scroll-down.svg" alt="Ir al contenido"
            /></a>
          </div>-->
                    </div>
                   </div>
             </div>
             </div>
            </header>