<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>ANONYMOUS</title>
 
  <link rel="stylesheet" href="assets/css/main.css">
  <link rel="icon" href="favicon.png"/>
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto:400,500&display=swap" rel="stylesheet">
  
  
  <!-- font-family: 'Roboto Slab', serif;
font-family: 'Roboto', sans-serif; -->
</head>
<body class="body">
  
    
   <!-- <partial src="_header.html" label="Header"></partial>
    <partial src="_main.html" label="Main"></partial>
    <partial src="_footer.html" ></partial> -->
    


<header>
    <nav class="firstnav">
            <a class="btn1" href="#">
            <img class="hambur" src="/ico-menu.svg" alt="menu" title="menu">
            </a>
        </nav>
       <!--         
-->
      </nav>
     
        <div class="hero">
            <div class="container">
          <!--haverle un nav-->
           
                <div class="titles">
                  <h1 class="titulo1">ANONYMOUS PROXY</h1>
                  <h4 class="titulo2">In hac habitasse platea dictumst</h4>
                
                 <div class="boton2">
                  <a class="btn2" href="#"> <img class="scrolldown" src="/ico-scroll-down.svg" alt="scrolldwon"></a>
                  </div>
                  <!-- <div class="scrolldown scroll">
    <a href="#content">
      <img src="assets/icons/ico-scroll-down.svg" alt="Ir al contenido"
    /></a>
  </div>-->
            </div>
           </div>
     </div>
     </div>
    </header>
            <main>
              <div class="container">
                    <div class="looking">
                         <h5 class="title3">Insomnia tips</h5>
                            <h2 class="title4"> Looking through a window</h2>
                           <p class="text">Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at luctus ex diam nec lectus. Vivamus semper sodalesZ</p>
                           <button class="btngo">Go</button>
                   </div>
              
                        <div class="grid">
                            <h1 class="reason__all">3 Reasons To Purchase</h1>
                            <div class="reason__1">
                              <h3 class="roboto">Us set metus</h3>
                                    <p class="point">Lorem ipsum dolor sit amet consectetur.  </p>
                             </div>
                             <div class="reason__2">
                                <h3 class="roboto">Curabitur ac erat</h3>
                                <p class="point">Mauris mattis urna quis molestie. </p>
                              </div>
                              <div class="reason__3">
                                  <h3 class="roboto">Morbi dictum</h3>
                                  <p class="point">Aliquam in dolor et dolor tincidunt. </p>
                                </div>
                                <div><button class="btnreason">More Reasons</button> </div>
                                <div>
                                <a class="spike" > <img src="/ico-arrow.svg" alt="arrow up" ></a>
                                </div>
                        </div>
                      




              </div>
              </main>
       <footer class="footer">
         <div class="container">
            <nav class="navegador">
                  <ul>
                    <div class="nav__1">
                    
                    <li class="list">ARTICLES</li>
                    <li class="list">BOOKS</li>
                    <li class="list">EVENTS</li>
                    <li class="list">REASONS</li>
                    <li class="list">TIPS</li>
                    
                    </div>
                  

              
              <div class="nav__2">
                    <li class="list">TWITTER</li>
                    <li class="list">INSTAGRAM</li>
                    <li class="list">MASTODON.SOCIAL</li>
                    </div>
                  
                  </ul>
                  </div>
             </nav>
            </div>
         
    
    <div class="loandco"></div>
    <div class="copy">&copy; 2017 </div>
    <small class="love">we love components</small>
    </div>
    </footer>
    
  
</body>
</html>
