<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>ANONYMOUS</title>
 
  <link rel="stylesheet" href="assets/css/main.css">
</head>
<body class="body">
  
    
   <!-- <partial src="_header.html" label="Header"></partial>
    <partial src="_main.html" label="Main"></partial>
    <partial src="_footer.html" ></partial> -->
    




    <header>
        <div class="hero">
             <div class="hamburguesa">
            <button class="btn1">- - -</button>
            </div>
                <h1>ANONYMOUS PROXY</h1>
                <h2>In hac habitasse platea dictumst</h2>
            <button> boton</button>
            </div>
    </header>
            <main>
              <div class="container">
                    <div class="looking">
                         <h5>Insomnia tips</h5>
                            <h2> Looking through a window</h2>
                           <p>Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at luctus ex diam nec lectus. Vivamus semper sodalesZ</p>
                   </div>
              
                        <div class="grid">
                            <h1>3 Reasons To Purchase</h1>
                            <div class="reason1">
                              <h3>reason__1</h3>
                                    <p>lorem </p>
                             </div>
                             <div class="reason__3">
                                <h3>reason 2</h3>
                                <p>lorem </p>
                              </div>
                              <div class="reason__3">
                                  <h3>reason 3</h3>
                                  <p>lorem </p>
                                </div>
                                <button>More Reasons</button>
                                <button> copiarspike</button>
                        </div>
                      




              </div>
              </main>
              <footer>
                <nav>
                  <ul>
                    <li>ARTICLES</li>
                    <li>BOOKS</li>
                    <li>EVENTS</li>
                    <li>REASONS</li>
                    <li>TIPS</li>
                  </ul>

                </nav>
                <nav>
                  <ul>
                    <li>TWITTER</li>
                    <li>INSTAGRAM</li>
                    <li>mASTODON.SOCIAL</li>
                  </ul>
                </nav>
              </footer>
    
    
    <div class="copy">&copy; 2017 </div>
    <small class="love">we love components</small>
    
  
</body>
</html>
