<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Anonimous</title>
  <link rel="icon" href="favicon.png"/>
	<link rel="stylesheet" href="assets/css/main.css">
</head>
<body class="page">
  <div class="page">
    <partial src="_header.html" label="Header"></partial>
    <partial src="_main.html" label="Main"></partial>
    <partial src="_footer.html" label="footer"></partial>
    /*/* <partial src="_link.html" Class="link__github" text="GitHub" url="https://github.com"></partial> */*
  </div>
</body>
</html>
